<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/NGI</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">shirin1234</property>

        <!-- Specify dialect for MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Optional: Show SQL queries in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Optional: Create or update database schema automatically -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping package="Core.ModelDb" />
        <!-- Optional: Specify entity classes packages -->
        <mapping class="Core.ModelDb.ProjectDB"/>



        <mapping class="Core.Model.Board"/>
        <mapping class="Core.ModelDb.UserDB"/>
        <mapping class="Core.ModelDb.IssueDB"/>
<!--<mapping class="Core.Model.UserProject"/>-->


    </session-factory>
</hibernate-configuration>
